<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<title>The Seasoned Cook</title>
	<link href="content/css/styles.css" rel="stylesheet" type="text/css" />
	<script src="app/lib/angular.min.js"></script>
	<script src="app/app.js"></script>
</head>
<body>
<ng-include src="'header.html'"></ng-include>
<div ng-controller="RecipeController">
	<ul>
		<li ng-repeat="recipe in recipes">
			<h3>{{recipe.name}}</h3>
			<p>{{recipe.description}}</p>
			<ul>
				<li ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
			</ul>
		</li>
	</ul>
</div>

</body>
</html>